$color1:#ffcc00; //Yellow
$color2:#ff4949; //Red
$color3:#367c36; //green

@mixin bordes($color, $style, $weight){
    border-bottom:$color $style $weight;
    background: $color;
}


.jumbotron, footer, nav, thead {
    @include bordes($color3, solid, 2px);
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: $color1;
    text-decoration: none;
}

#bc a{
    color: gray;
    text-decoration: none;
}

#bc a:hover{
    color: $color1;
    text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    
    background-color: $color2;
}
#pills-home-tab, #pills-profile-tab, #pills-contact-tab {
    color: black;
    font-weight: bolder;
}
#pills-home-tab:hover, #pills-profile-tab:hover, #pills-contact-tab:hover {
    background-color: $color3;
    border-top: $color1 1px solid;
    border-left: $color1 1px solid;
    border-right: $color1 1px solid;
}

#pills-home-tab:active, #pills-profile-tab:active, #pills-contact-tab:active {
    background-color: $color1;
}