.jumbotron,
footer,
nav,
thead {
  border-bottom: #004e00 solid 2px;
  background: #004e00;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ffcc00;
  text-decoration: none;
}
#bc a {
  color: gray;
  text-decoration: none;
}
#bc a:hover {
  color: #ffcc00;
  text-decoration: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ff4949;
}
#pills-home-tab,
#pills-profile-tab,
#pills-contact-tab {
  color: black;
  font-weight: bolder;
}
#pills-home-tab:hover,
#pills-profile-tab:hover,
#pills-contact-tab:hover {
  background-color: #004e00;
  border-top: #ffcc00 1px solid;
  border-left: #ffcc00 1px solid;
  border-right: #ffcc00 1px solid;
}
#pills-home-tab:active,
#pills-profile-tab:active,
#pills-contact-tab:active {
  background-color: #ffcc00;
}
