.jumbotron, footer, nav, thead {
    background: rgb(44, 44, 44);
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffe555;
    text-decoration: none;
}

#bc a{
    color: gray;
    text-decoration: none;
}

#bc a:hover{
    color: #ffcc00;
    text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    
    background-color: #ffc107;
}
#pills-home-tab, #pills-profile-tab, #pills-contact-tab {
    color: black;
    font-weight: bolder;
}
#pills-home-tab:hover, #pills-profile-tab:hover, #pills-contact-tab:hover {
    background-color: rgb(255, 237, 192);
    border-top: goldenrod 1px solid;
    border-left: goldenrod 1px solid;
    border-right: goldenrod 1px solid;
}

#pills-home-tab:active, #pills-profile-tab:active, #pills-contact-tab:active {
    background-color: goldenrod
}