.jumbotron, footer, nav, thead {
  border-bottom: #367c36 solid 2px;
  background: #367c36 !important;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover {
  color: #ffcc00 !important;
  text-decoration: none;
}

#bc a {
  color: gray !important;
  text-decoration: none;
}

#bc a:hover {
  color: #ffcc00 !important;
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #ff4949 !important;
}

#pills-home-tab, #pills-profile-tab, #pills-contact-tab {
  color: black !important;
  font-weight: bolder;
}

#pills-home-tab:hover, #pills-profile-tab:hover, #pills-contact-tab:hover {
  background-color: #367c36;
  border-top: #ffcc00 1px solid;
  border-left: #ffcc00 1px solid;
  border-right: #ffcc00 1px solid;
}

#pills-home-tab:active, #pills-profile-tab:active, #pills-contact-tab:active {
  background-color: #ffcc00 !important;
}

/*# sourceMappingURL=styles.css.map */
